{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        {% for dfInfo in dfInfos %}
        <div class="alert alert-info" role="alert">
            {{dfInfo | safe}}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for dfTable in dfTables %}
        {{ dfTable[1] | safe}}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for graph in graphs %}
        <img src="{{graph}}" />
        {% endfor %}
    </div>
</div>

{% endblock %}
